@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
    margin-bottom: 0px;
}

.container {
    padding-bottom: 100px;
}

.UIbuttons {
    display: inline-block;
}

.patreon {
    line-height: 50px;
}