// Place all the styles related to the geologyarticles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.geology-section {
    background-image: url("DSC_0356.jpg");
    background-repeat: no-repeat;
    background-size: 1200px;
}