<div align="center" class="footer navbar navbar-default navbar-fixed-bottom">
      <div class="patreon">
            <%= link_to "Patreon", "https://www.patreon.com/hillcountryhiker"  %>
      </div>
</div>